@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  background: url("../img/bg2.svg") repeat-y;
  background-size: cover;

}



.logo{
  font-family: 'Sometype Mono', sans-serif;
  font-size: 40px
}

.ant-spin-dot-item{
  background-color: oklch(86.58% 0.242 137.28) !important;
}


.ant-card-actions{
  background-color: #112f04 !important;
}

.font-logo{
  font-family: 'Sometype Mono', sans-serif;
}

.create-event-card > .ant-card-actions{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.create-event-card{
  box-shadow:none !important;
}

.ant-time-picker-panel .ant-time-picker-panel-select {
  overflow-y: auto;

  @media (min-width: 1024px) {
    overflow: hidden;
  }
}

.ant-picker-dropdown .ant-picker-panel-container .ant-picker-panels {
  display: inline-flex;
  animation: none;
  flex-wrap: nowrap;
  direction: ltr;
  @media (max-width: 768px) {
    display: inline-grid;
  }
}

.rsw-editor{
  background-color:oklch(19.98% 0.053 135.61) !important;
  color:oklch(96.51% 0.052 134.78) !important;
  border-color: rgba(128,128,128,0.4) !important;
}

.rsw-ce{
  cursor: text !important;
  font-family: Inter, sans-serif;
  font-size: 0.85rem;
}

.rsw-toolbar{
  background-color:#6a93fb !important;
  border-color: rgba(128,128,128,0.4) !important;

}

.rsw-btn{
  color:black !important;
}
.rsw-btn:hover{
  background-color:#386ffa !important;
}
.rsw-btn[data-active=true] {
  background-color: #064bf9 !important;
}

.rsw-dd{
  background-color:#6a93fb !important;
  color:black !important;
  border-color: rgba(128,128,128,1) !important;
  border-radius:2px !important;
}

.rsw-separator{

  border-color: rgba(128,128,128,1) !important;
}


.search-location{
  background-color: #141414;
  border-width: 1px;
  border-style: solid;
  border-color: #424242;
  border-radius: 6px;
}

.search-location:hover{
  border-color:#3c89e8;
}