.color-standard{
    color:#77BB41;
    background-color: #77BB41;
}


html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    min-height: 100%;
    width: 100%;

    background-image: linear-gradient(rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)),url("../img/Background.png");

    background-repeat: repeat-y;
    background-size: cover;
}

.eventCard{
    border: 0;
}

.app {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}

.main {
    flex-grow: 1;
}